CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_DHCOMIMX6=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/DHelectronics/dh_imx6/DHCOM_mx6quad_1g.cfg,MX6Q"
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_SPI_FLASH=y
